

body {
/*background-color: #414141;*/
background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */
}


.nada {
  .container-fluid {
   width: 100%;
   text-align: center;
   margin-top: 10%;
   color: white;
  }
}

.wrap{
  color: white;

  .dem-header {
    text-align: center;
    font-size: 72px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    font-family: 'Amatic SC';

  }
  .container-fluid {
    margin-top: 12%;
    width: 30%;
  }
}

.form-wrap {
  text-align: center;
  float: left;
  padding-bottom: 45px;
}

#contained {
  padding-top: 10px;
  padding-bottom: 10px;

  .content-scrollable {
    display: inline-block;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

#but {
  width: 100%;
  text-align: center;
}


.welcome-header {
  font-size: 72px; 
  font-family: 'Amatic SC';
  line-height: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
}


.container-fluid img {
  padding-bottom: -20px;
}

.agree-button {
  padding-top: 15px;
}

.footer {
  padding-top: 12%;
  vertical-align: 0px;
  float: right;
  padding-right: 20px;
  color: white;
  font-size: 12px;
  font-family: 'Helvetica Neue';
}

.footer  img {
  height: 20px;
  width: 100px;
}

.survey-wrap {
  width: 100%;
  margin-top: 2%;
  color: white;
}

.buttonz {
  padding-top: 40px;
  text-align: center;
  width: 100%;
}

.surround {
  margin-left: 30px;
  margin-right: 30px;
}

.surround form {
  text-transform: capitalize;
  font-weight: bold;
}

.surroundform {
  margin-left: 35%;
}

  .headerz {
    color: white;
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 72px;
    padding-bottom: 15px;
  }

  .counters {
    .position(absolute, 500px, 250px, auto, auto);
    float: right;
    color: white;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Amatic SC' ;
    margin-right : 5;  
  }  



  .tablewrap {
    text-transform: capitalize;
    width: 100%;
  }


  .explain{
    .position(absolute, 250px, auto, auto, 100px); 
    text-align: center;
    color: white;
    /*padding-left: 30px;*/
    font-size: 27px;
    font-weight: bold;
    font-family: 'Amatic SC' ;
    letter-spacing: 2px;
    width: 290px;
/*    padding-bottom: 10px;*/
    /*float: left;*/
    text-align: justify;
    text-justify: auto;

    #explain-agree{
      color: #00A352;
    }

    #explain-disagree{
      color: #FF4747;
    }
  }  

  .actual-question {
    padding-bottom: 4px;

    .post-upvote {
      #upvote {
        color: #00A352;
        -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s;
      }
    }

    .post-downvote {
      #downvote {
        color: #FF4747;
        -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s;
      }
    }
  }

  #upvote, #downvote {
    font-size: 24px;
    color: #666666 ;
  }

  #upvote:hover, #downvote:hover {
    /*color: #a1bfde;*/
     /*color: #eba3cd;*/
    color: white;
     -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s;
     cursor: pointer;
  }

  #upvote:focus {
    color: #a1bfde;
  }

  #downvote:focus {
    color: #eba3cd;
  }

