<template name = "dem">
  <div class = "wrap">
    <div class="container-fluid">
      <div id = "contained">
        <div class="dem-header">
          Tell us your...
        </div>
        <form>
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item"> {{this}} </div>
              {{/each}}
            </div>
          {{/if}}

          <div class="input-symbol {{errorClass 'age'}}">
            <input type="text" name="age" placeholder="Your Age" />
            <span title="Your Age"></span>
          </div>

          <div class="input-symbol {{errorClass 'language'}}">
            <input type="text" name="language" placeholder="Your First Language" />
            <span title="Your First Language"></span>
          </div>

          <div class="input-symbol {{errorClass 'gender'}}">
            <input type="text" name="gender" placeholder="Your Gender" />
            <span title="Gender"></span>
          </div>

          <button type="submit" class="btn-primary">Sign in</button>
        </form>


      </div>
    </div>
  </div>
</template>



<!--  <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form> -->

