<template name = "dem">
  <div class = "wrap">
    <div class="container-fluid">
      <div id = "contained">
        <div class="dem-header">
          Tell us your...
        </div>
        <form>
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item"> {{this}} </div>
              {{/each}}
            </div>
          {{/if}}
          <div class = "form-wrap">
            <div class="input-symbol {{errorClass 'age'}}">
              <input type="text" name="age" placeholder="Age" />
              <span class="icon-access-time" title="Your Age"></span>
            </div>

            <div class="input-symbol {{errorClass 'language'}}">
             
             <select name="language">
             <option selected="true" disabled="true" >Language</option>
               <option>  Arabic </option>
               <option> Hebrew</option>
             </select>
              <span class="icon-language" title="Your First Language"></span>
            </div>

            <div class="input-symbol  {{errorClass 'gender'}}">
             <select name="gender">
             <option selected="true" disabled="true" >Gender</option>
               <option>  Male </option>
               <option> Female</option>
                <option> Not disclosed</option>
             </select>
              <span class="icon-person-outline" title="Gender"></span>
            </div>
        </div>
          <div id = "but">
             <button type="submit" class="btn-primary" id = "buts">Submit</button>
          </div>
       </form>
        

      </div>
    </div>
    <footer class = "footer">
      <b> POWERED BY </b> &nbsp;  <img src = "/demo21.png"> 
    </footer>
  </div>

</template>



<!--  <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form> -->

