<template name="end">
  <div id ="d3-container">
    <div id="toggles">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" id="age-button" class="btn btn-default">Age</button>
        <button type="button" id="gender-button" class="btn btn-default">Gender</button>
        <button type="button" id="language-button" class="btn btn-default">Language</button>
      </div>

      <div class="btn-group" role="group" aria-label="...">
        <button type="button" id="bibi-button" class="btn btn-default">Netanyahu</button>
        <button type="button" id="abbas-button" class="btn btn-default">Abbas</button>
      </div>
    </div>
    <div id="legend">
      {{#each keywords}}
        <div class ="list-item">
          <button type="button" id="{{this}}" class="btn">"{{this}}"</button>
        </div>
      {{/each}}
    </div>
    <div id="container">
    </div>
  </div>
</template>