<template name="survey">
  <div class = "survey-wrap">
    <div class = "surround">
      <div class = "headerz">
        Voting
      </div>
      <div class = "explain">
        Choose the two statements you <span id="explain-agree">agree</span> with the most and the one statement you <span id="explain-disagree">disagree</span>  with the most.
      </div>
      <div class = "surroundform">
        <div class = "form-text">
          <form>
            {{#each questions}}
           <div class = "actual-question"> {{> question}}  </div> 
            {{/each}}  
          </form>
        </div>
      </div>
      <div class = "buttonz">
        <button type="reset" id="reset-button" class="btn btn-primary" >Reset</button> &nbsp;
        <button type="submit" id="submit-button" class="btn btn-primary" >Submit</button>
      </div>
      <div class = "counters">
        Upvotes Remaining: {{upLeft}} <br> Downvotes Remaining: {{downLeft}} 
      </div>
    </div>
  </div>
</template>

<template name="question">
  <div id="list{{index}}" class="list-item">
    <span class="icon-plus-alt" id="upvote"></span> &nbsp; 
    <span class="icon-minus-alt" id="downvote"></span>  &nbsp; 
    {{value}}
  </div>
</template>

