<template name="survey">
  <div class = "survey-wrap">
    <div class = "surround">
      <div class = "headerz">
        Voting
      </div>
      <div class = "explain">
        Choose up to 3 topics that you believe strongly in by selecting the plus button, and up to one you disagree with by selecting the minus button. 
      </div>
      <div class = "surroundform">
        <div class = "form-text">
          <form>
            {{#each questions}}
           <div class = "actual-question"> {{> question}}  </div> 
            {{/each}}  
          </form>
        </div>
      </div>
      <div class = "buttonz">
        <button type="reset" class="btn btn-primary" >Reset</button> &nbsp;
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
        <div class = "counters">
      Upvotes Remaining: {{upLeft}} <br> Downvotes Remaining: {{downLeft}} 
    </div>
    </div>
  </div>
</template>

<template name="question">
  <div class="list-item">
    <span class="icon-plus-alt" id="upvote"></span> &nbsp; 
    <span class="icon-minus-alt" id="downvote"></span>  &nbsp; 
    {{this}}
  </div>
</template>

