<template name="survey">
Up Left: {{upLeft}} Down Left: {{downLeft}} <br>
  <form>
   {{#each questions}}
     {{> question}}
   {{/each}}
   <button type="reset" class="btn btn-primary">Reset</button>
   <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/end"> ya weed is tite </a>
</template>

<template name="question">
  <div class="list-item">
    <span class="icon-plus-alt" id="upvote"></span>
    <span class="icon-minus-alt" id="downvote"></span>
    {{text}}
  </div>
</template>